@model RequestAPP.Models.Solicitud

@{
    ViewData["Title"] = "Create";
}


<h4 class="text-center">Crear Solicitud</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Persona:</label>
                <select asp-for="PersonaId" class="form-control" asp-items="ViewBag.PersonaId"></select>
            </div>
            <div class="form-group">
                <label  class="control-label">Fecha de creacion</label>
                <input asp-for="FechaDeCreacion" placeholder=@DateTimeOffset.UtcNow  class="form-control" disabled />
                
                <span asp-validation-for="FechaDeCreacion" class="text-danger"></span>
            </div>

      

            <div class="form-group">
                <br />
                <input type="submit" value="Generar solicitud" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
