@model RequestAPP.Models.Solicitud

@{
    ViewData["Title"] = "Delete";
}




<div>
    <h4>Esta seguro que desea eliminar esta solicitud?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Solicitante: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona.Nombre)
        </dd class>
        <dt class = "col-sm-2">
            Fecha de creacion:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeCreacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
