@model RequestAPP.Models.Solicitud

@{
    ViewData["Title"] = "Edit";
}


<h4>Editar estado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Persona:</label>
                <select asp-for="PersonaId" class="form-control" asp-items="ViewBag.PersonaId" disabled></select>
                <span asp-validation-for="PersonaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de creacion:</label>
                <input asp-for="FechaDeCreacion" class="form-control" disabled />
                <span asp-validation-for="FechaDeCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Estado:</label>
                <select asp-for="estado" class="form-control" asp-items="ViewBag.estado"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
